@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900|Roboto&display=swap);
	
/* 본고딕 웹폰트 가져오기 180124 morenvy.com */ 
/* Noto Sans KR (korean) http://www.google.com/fonts/earlyaccess */ 
@font-face { 
  font-family: 'Noto Sans KR'; 
  font-style: normal; 
  font-weight: 100; 
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'), 
      url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'), 
      url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype'); 
} 
@font-face { 
  font-family: 'Noto Sans KR'; 
  font-style: normal; 
  font-weight: 300; 
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'), 
      url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'), 
      url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype'); 
} 
@font-face { 
  font-family: 'Noto Sans KR'; 
  font-style: normal; 
  font-weight: 400; 
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype'); 
 } 
@font-face { 
  font-family: 'Noto Sans KR'; 
  font-style: normal; 
  font-weight: 500; 
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype'); 
 } 
@font-face { 
  font-family: 'Noto Sans KR'; 
  font-style: normal; 
  font-weight: 700; 
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype'); 
 } 
@font-face { 
  font-family: 'Noto Sans KR'; 
  font-style: normal; 
  font-weight: 900; 
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype'); 
 } 


body,form,div,p,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,fieldset,input,textarea,blockquote,th,td {margin:0;padding:0;-webkit-text-size-adjust:none; font:0.875em/1.5; font-family:'Lato', 'Noto Sans KR',sans-serif;color:#222;}
table caption{display:none;}
em,cite,address,dfn,var {font-style:normal}
dl,ul,ol, li{list-style:none;}
img,fieldset {border:0;outline:none;}
input, select, img{vertical-align:middle;outline:none;}
table{width:100%; border-collapse:collapse; border-spacing:0; table-layout:fixed;}


a {text-decoration:none;color:#222}

html {}
body {width:100%;overflow-x:hidden;-webkit-text-size-adjust:none;text-size-adjust: none;}
#wrap {position:relative;width:100%;}

/* ----------------------- overlayPanel --------------------------*/
/* 2015-03-13 */ 
#overlayPanel {position: relative;opacity:0;width: 100%;height:100%;min-height:100%;display: none;background: #fff;overflow: visible;overflow-x: hidden;}
#overlayPanel.show {opacity: 1;}
#overlayPanel.slide {position: fixed;z-index: 3000;-webkit-animation-timing-function: ease-out;-webkit-animation-duration: 350ms;-webkit-animation-delay: 50ms;animation-delay: 50ms;animation-timing-function: ease-out;animation-duration: 350ms;-webkit-box-sizing: border-box;box-sizing: border-box;overflow: hidden;left: 0;top: 0;transform: translateY(0);opacity: 1;}
#overlayPanel.slideUp {-webkit-animation-name: slideUp;animation-name: slideUp;-webkit-transform: translateY(100%);transform: translateY(100%);}
#overlayPanel.slideDown {-webkit-animation-name: slideDown;animation-name: slideDown;-webkit-transform: translateY(0);transform: translateY(0);}
@-webkit-keyframes slideUp {
    from { -webkit-transform: translateY(100%); }
    to { -webkit-transform: translateY(0); }
}
@keyframes slideUp {
    from { transform: translateY(100%); }
    to { transform: translateY(0); }
}
@-webkit-keyframes slideDown {
    from { -webkit-transform: translateY(0); }
    to { -webkit-transform: translateY(100%); }
}
@keyframes slideDown {
    from { transform: translateY(0); }
    to { transform: translateY(100%); }
}
#overlayPanel .header {position:; top: 0;width: 100%; z-index: 3001;left:0}
#overlayPanel .cityHeaderMar+.header {position:static;}
#overlayPanel .footer {position: fixed;left:0; bottom: 0;width: 100%; z-index: 3001}
#overlayPanel .headerMar { height: 50px;}
/* //2015-03-13 */ 

/* ----------------------- container --------------------------*/
#container {position: relative;z-index:1;width: 100%;}
#wrap.slideLeft #container { -webkit-transform: translateX(20%);transform: translateX(20%);}
#wrap.slideRight #container { -webkit-transform: translateX(-20%);transform: translateX(-20%);}

.mask { position: fixed;top: 0;bottom: 0;left: 0;right: 0;background: #000;opacity: 0.7;z-index: 100;-webkit-transition-property: -webkit-transform opacity;-webkit-transition-timing-function: ease-out;-webkit-transition-duration: 200ms;transition-property: transform opacity;transition-timing-function: ease-out;transition-duration: 200ms;-webkit-touch-callout: none;-webkit-text-size-adjust: none;text-size-adjust: none;/*-webkit-animation: maskOpacity 300ms 1 ease;animation: maskOpacity 300ms 1 ease;*/}
.ics .mask {-webkit-animation: none;animation: none;}

.headerMargin {height:110px;}
.headerMargin02 {height:50px;}
.headerMargin03 {height:149px;}
.headerMargin04 {height:104px;}
.headerMargin05 {height:132px;}
.headerMargin06 {height:188px;}
.headerMargin07 {height:88px;}

.fl {float:left;}
.fr {float:right;}
.ce {float:center;}

.line_jul {border-bottom:1px dashed #D2D2D2;} 
.mgb5 {margin-bottom:5px;}
.mgb10 {margin-bottom:10px;}
.mgt5 {margin-top:5px;}
.mgt7 {margin-top:7px;}
.mgt10 {margin-top:10px;}
.mgt13 {margin-top:13px;}
.mgt15 {margin-top:15px;}
.mgt20 {margin-top:20px;}
.mgt25 {margin-top:20px;}
.mgt30 {margin-top:30px;}
.mgt40 {margin-top:40px;}

.pt3{ padding-top:3px}
.pt5{ padding-top:5px}
.pt10{ padding-top:10px}
.pt15{ padding-top:15px}
.pt20{ padding-top:20px}
.pt25{ padding-top:25px}
.pt30{ padding-top:30px}
.pt35{ padding-top:35px}
.pt40{ padding-top:40px}
.pt50{ padding-top:50px}
.pt55{ padding-top:55px}
.pt60{ padding-top:60px}
.pt70{ padding-top:70px}
.pt80{ padding-top:80px}
.pt90{ padding-top:90px}
.pt100{ padding-top:100px}
.pt110{ padding-top:110px}
.pt120{ padding-top:120px}

/* header */
#header {position:fixed;left: 0;top: 0;-webkit-transition-property: -webkit-transform;-webkit-transition-timing-function: ease-out;-webkit-transition-duration: 300ms;transition-property: transform;transition-timing-function: ease-out;transition-duration: 300ms;}
#header h1 {position: relative; z-index: 11; background: #fff; }
#wrap.slideLeft #header {-webkit-transform: translateX(20%);transform: translateX(20%);}
#wrap.slideRight #header { -webkit-transform: translateX(-20%);transform: translateX(-20%);}
#header {text-align:center;width: 100%;z-index:11;background: #fff}
#header.tBanTy {top:50x}
#header .inner h1 a {display:inline-block;padding:5px 0px;}
#header .inner h1 img{height:42px}
#header .inner > a {position:absolute;top:0;z-index:11;}
#btnMenu {left:0;padding:17px 12px 17px;}
#btnMenu img {width:23px;}

/* 메인 전체메뉴 */
#menuPanel02 {display:none;position:fixed;top:0;width:75%;height: 100%;z-index: 100;background: #dbdce1;-webkit-overflow-scrolling: touch;transition: transform .3s ease-out; -webkit-transition: -webkit-transform .3s ease-out; transform : translateX(-100%); -webkit-transform : translateX(-100%);}
#menuPanel02.open {-webkit-transform: translateX(0%); transform: translateX(0%);}
#menuPanel02 h2 {position: fixed; padding:18px 12px 12px; font-size:1.125em; background-color:#fff;width: 100%;box-sizing: border-box; left:0;top:0; z-index:10; height:51px; border-bottom:1px solid #dbdce1}
#menuPanel02 h2 .closeSlide {position:absolute;right:0;top:0;background:url(/mobile/images/main/btn_close.png) no-repeat center 20px;width:51px; height:51px; background-size:18px 18px}
#menuPanel02 .innerScroller {-webkit-overflow-scrolling: touch;width: 100%; height: 100%;overflow-y:scroll;}
#menuPanel02 .MenuList {background-color:#FFF; margin-bottom:9px; border-bottom:1px solid #dbdce1; margin-top:55px}
#menuPanel02 .MenuList h3 {font-size:0.938em;padding:20px 12px 7px 10px;}
#menuPanel02 .MenuList .innerMenuBox {overflow:hidden;}
#menuPanel02 .MenuList .innerMenuBox li {width:100%; float:left; letter-spacing:0px}



/* ************************************************************************************* */
#back-top 			     {bottom: 35px;right: 10px;position: fixed;z-index: 99; visibility:hidden;}
#back-top a 			     {color: #fff;font-size: 0em; font-weight:bold;text-decoration: none;text-transform: uppercase; width: 35px;display: block;text-align: center;}
#back-top a:hover      {color:#79ec3e;}
#back-top span         {width:35px;height:35px; display: block;margin-bottom:0px;background:url("/mobile/images/main/up-arrow.png") no-repeat left 0px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader() !important;}

#back-top a:hover span { background-position:right top;}
/* ************************************************************************************* */

.mene_txt {color:#000;font-weight:500;font-size:1.06em; padding:4px 29px; border:1px solid #D7D7D7;border-radius:30px;background-color:#FFF; }
.mene_sub {color:#000;font-weight:500;font-size:0.94em; padding:3px 29px; border:1px solid #D7D7D7;border-radius:30px;background-color:#F2F1F1; }

.left_com {font-size:1.06em; color: #000; font-weight:900;padding:0px 0px 8px 0px;}
.left_call {font-size:1.00em; color: #000; font-weight:700;padding:0px 0px 5px 0px;}
.left_bank {font-size:0.81em; color: #000; font-weight:500;padding:0px 0px 0px 0px;letter-spacing: -0.05em;}

/* MAIN NAVIGATION */
.txt_new {font-size:1.00em; color:#FFF;padding:0 0 0 0px;font-weight:700;}
.txt_new a{color:#FFF;text-decoration:none}
.txt_new a:hover,a:active{color:#FFF; text-decoration:none}

/* 고객센터 */
.com_center_1 {font-size:1.19em; font-weight:700; padding:0px 0 15px 0;line-height:1.3em;}
.com_center_2 {font-size:1.38em; font-weight:400; padding:0px 0 10px 0;font-family:Black Han Sans; }
.com_center_3 {font-size:0.81em;line-height:1.3em;}

.com_qa_1 {font-size:1.06em; font-weight:700; padding:0px 0 5px 0;line-height:1.3em;}
.com_qa_2 {font-size:0.94em; font-weight:500; padding:0px 0 18px 0;}
.com_qa_3 {font-size:0.81em;line-height:1.4em;}
.com_qa_4 {font-size:0.81em;padding:10px 0 0px 0;font-weight:700;}


/* 날씨 */
.weath table {width:100%; border-collapse:collapse; border-spacing:0px;}
.weath .typ1 {text-align:center;border-left:1px solid #EAEAEA; border-right:1px solid #EAEAEA; border-top:1px solid #EAEAEA;border-bottom:1px solid #EAEAEA; padding:15px 0px;}
.weath .typ1 strong{line-height:1.6em;  font-weight:900;}
.weath .typ2 { text-align:center;border-right:1px solid #EAEAEA; border-top:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; padding:15px 0px; background: #FFF;}
.weath .typ2 strong{line-height:1.6em;  font-weight:700;}



/* footer */
.m_footer {background:#F5F5F5; padding:30px 30px 40px 30px; }
.m_footer .foot_nm  {font-size:1.06em;font-weight:700;padding:0px 0 10px 0;}
.m_footer .foot_txt {font-size:0.75em;line-height:1.7em;color:#444;}
.m_footer .foot_copy {font-size:0.81em;font-weight:700;padding:10px 0 0px 0;}


.pop_pass_txt{text-align:center; font-size:0.88em;padding:20px 0 20px 0;}
.pop_pass_input{font-size:1.06em; height:40px;border:1px solid #E1E1E1; padding: 0px 20px; }
.pop_pass_login {font-size:0.88em; width:70px; text-align: center; color:#FFFFFF;}
.pop_pass_login a{background: #ff5000; color:#FFFFFF; height:32px; line-height:32px; display:block;}
.pop_pass_login a:hover { color:#FFF; background-color:#ff3c00;}
