
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900|Roboto&display=swap);
	
@font-face { 
  font-family: 'Noto Sans KR'; 
  font-style: normal; 
  font-weight: 100; 
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'), 
      url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'), 
      url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype'); 
} 
@font-face { 
  font-family: 'Noto Sans KR'; 
  font-style: normal; 
  font-weight: 300; 
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'), 
      url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'), 
      url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype'); 
} 
@font-face { 
  font-family: 'Noto Sans KR'; 
  font-style: normal; 
  font-weight: 400; 
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype'); 
 } 
@font-face { 
  font-family: 'Noto Sans KR'; 
  font-style: normal; 
  font-weight: 500; 
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype'); 
 } 
@font-face { 
  font-family: 'Noto Sans KR'; 
  font-style: normal; 
  font-weight: 700; 
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype'); 
 } 
@font-face { 
  font-family: 'Noto Sans KR'; 
  font-style: normal; 
  font-weight: 900; 
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype'); 
 } 
 
 
@media print {
	body {background-color: #FFFFFF;}
	#print_area{display:none;}
}


* {font-family:'Lato', 'Noto Sans KR', sans-serif;}
html, body { margin:0; padding:0; height:100%;background-color: #FFF;}

body{font-size:13px; color:#000; overflow-x:hidden; -webkit-text-size-adjust:none;position:relative;margin: 0px;}

div, p, th, td, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, button, select, textarea, blockquote{padding:0; margin:0;}
form, fieldset, button{border:none;}
button img{display:none;}
ul, dl, ol, li, dt, dd { list-style: none; }
caption{ display:none}
img {vertical-align:middle; padding: 0; margin: 0; border:0;}
address,em{font-weight:normal;font-style:normal}
table{ empty-cells:show; font-size:13px;}

*:first-child+html table{ empty-cells:show; border-collapse:collapse}

*:focus {outline: none;}

/* 크롬,앳지,사파리용. */
::-webkit-scrollbar{width:5px;}
::-webkit-scrollbar-track {background-color:#FFF;}
::-webkit-scrollbar-thumb {background-color:#ACD5FD;border-radius:5px;}
::-webkit-scrollbar-thumb:hover {background: #3C84C8;}
::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {width:0px;height:0px;background:#FFF;}

a:link{color:#000; text-decoration:none;}
a:visited{color:#000; text-decoration:none;}
a:active{color:#000; text-decoration:none;}
a:hover{color:#000; text-decoration:none;}


/* padding */
.pa10{ padding:10px}
.pa20{ padding:20px}
.pa30{ padding:30px}
.pa40{ padding:40px}
.pa50{ padding:50px}
.pa60{ padding:60px}
.pa70{ padding:70px}

.prl2{ padding:0 2px}
.prl3{ padding:0 3px}
.prl5{ padding:0 5px}
.prl10{ padding:0 10px}
.prl20{ padding:0 20px}
.prl30{ padding:0 30px}
.prl40{ padding:0 40px}
.prl50{ padding:0 50px}
.prl60{ padding:0 60px}
.prl70{ padding:0 70px}


.pt10{ padding-top:10px}
.pt15{ padding-top:15px}
.pt20{ padding-top:20px}
.pt25{ padding-top:25px}
.pt30{ padding-top:30px}
.pt35{ padding-top:35px}
.pt40{ padding-top:40px}
.pt50{ padding-top:50px}
.pt60{ padding-top:60px}
.pt70{ padding-top:70px}
.pt80{ padding-top:80px}
.pt90{ padding-top:90px}
.pt100{ padding-top:100px}
.pt110{ padding-top:110px}
.pt120{ padding-top:120px}

.pb5{ padding-bottom:5px}
.pb10{ padding-bottom:10px}
.pb15{ padding-bottom:15px}
.pb20{ padding-bottom:20px}
.pb30{ padding-bottom:30px}
.pb40{ padding-bottom:40px}
.pb50{ padding-bottom:50px}
.pb60{ padding-bottom:60px}
.pb70{ padding-bottom:70px}
.pb80{ padding-bottom:80px}


/* margin */
.ma3{ margin:3px}
.ma5{ margin:5px}
.ma10{ margin:10px}
.ma20{ margin:20px}
.ma30{ margin:30px}
.ma40{ margin:40px}
.ma50{ margin:50px}
.ma60{ margin:60px}
.ma70{ margin:70px}


.mt3{ margin-top:3px}
.mt5{ margin-top:5px}
.mt10{ margin-top:10px}
.mt15{ margin-top:15px}
.mt20{ margin-top:20px}
.mt30{ margin-top:30px}
.mt40{ margin-top:40px}
.mt50{ margin-top:50px}
.mt60{ margin-top:60px}
.mt70{ margin-top:70px}


.mr3{ margin-right:3px}
.mr5{ margin-right:5px}
.mr10{ margin-right:10px}
.mr15{ margin-right:15px}
.mr20{ margin-right:20px}
.mr30{ margin-right:30px}
.mr40{ margin-right:40px}
.mr50{ margin-right:50px}
.mr60{ margin-right:60px}
.mr70{ margin-right:70px}


.mb3{ margin-bottom:3px}
.mb5{ margin-bottom:5px}
.mb10{ margin-bottom:10px}
.mb15{ margin-bottom:15px}
.mb20{ margin-bottom:20px}
.mb30{ margin-bottom:30px}
.mb40{ margin-bottom:40px}
.mb50{ margin-bottom:50px}
.mb60{ margin-bottom:60px}
.mb70{ margin-bottom:70px}


.ml3{ margin-left:3px}
.ml5{ margin-left:5px}
.ml10{ margin-left:10px}
.ml15{ margin-left:15px}
.ml20{ margin-left:20px}
.ml30{ margin-left:30px}
.ml40{ margin-left:40px}
.ml50{ margin-left:50px}
.ml60{ margin-left:60px}
.ml70{ margin-left:70px}

.kp01{padding:0px 5px 0px 8px}
.kp02{padding:0px 0px 0px 30px;}
.kp03{padding:0px 0px 0px 10px}


